# Enable Content trust for Docker
CIS-DI-0005
# Add HEALTHCHECK instruction to the container image
CIS-DI-0006

node_modules
.pnpm-store
.dockerignore
Dockerfile
src/docker-compose.yml
.git
src/.gitignore
.env